:root{
    --text-color: #242424;
    --inverse-text-color: #ffffffff;
    --inverse-text-accent-color: #f0efef;
    --alternate-color: #726E8D;
    --background-color: #ffffffff;
}

*{
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
}

body{    
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

p{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

#wrapper{
    width: 1440px;
    margin: auto;
    padding: 60px;
    padding-bottom: 0;
}

/* header open */
#header{
    margin: auto;
    position: relative;
}

#header-text{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 0.5px solid var(--inverse-text-accent-color);
}

/* #header-search{

} */

#header-name{
    width: 100%;
    display: flex;
    justify-content: flex-end;    
    margin-bottom: 16px;
}

#name-link{
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
}

#header-shop-profile{
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
}

#shop{
    margin-right: 16px;
}

#profile{
    margin-right: 16px;
}

#search{
    margin-left:16px;
    margin-bottom: 16px;
}

#header-link{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.header-link-nav{
    margin-left: 40px;
    position: relative;
    font-size: 16px;
    text-decoration: none;
}
/* header close */

/* Основной контент open */
#content{
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;  
}
/* Основной контент close */

/* main-banner первый и главный блок при входе на сайт open */
#main-banner{
    width: 100%;
    height: 584px;
    padding-top: 60px;
    display: flex;
    position: relative;
    margin-bottom: 100px;  
}

#main-banner__block{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    width: 760px;
    padding: 60px 60px;
    background-color: #2A254B;
}

#main-banner__block__title{
    text-align: left;
    font-size: 32px;
    color: #FFFFFF;
    margin-top: 0;    
}

#main-banner__block__href{
    background-color: #403158; 
    width: 260px;
    border: none;
    color: white;
    padding: 16px 32px;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #403158;
}

#main-banner__block__descr-block{
    display: flex;
    align-items: flex-end;
    flex-grow: 2;
    color: #FFFFFF;
}

#main-banner__block__descr-text{
    margin: 0;
}
/* main-banner close*/

.headline-btm:hover{
    background-color: #2A254B;
    color: #c4c2d4;
}

#main-banner__img{
    height: 100%;
}


/* Блок с качествами open */
#qualities-list{
    position: relative;
    display: flex;
}

.quality__block{
    padding:40px 70px 130px 55px;
    font-size: 16px;
    position: relative;

}

.quality__title{
    font-size: 20px;
}
/* Блок с качествами close */


/* Блок вывода карточек товаров */
.card-list__title{
    font-size: 24px;  
}

.card-list__content{
    display: flex;
}

/* Для первой карточки в списке свой отступ */
.card-list__content a:first-child > .card{ 
    padding-left: 0px;
    padding-right: 15px;
}

.card-list__content a > .card{
    padding-left: 15px;
    padding-right: 15px;
}

/* Для последней карточки в списке тоже свой отступ */
.card-list__content a:last-child > .card{
    padding-left: 15px;
    padding-right: 0px;
}

.card-img{
    width: 305px;
    height: 375px;
}

.card-content{
    padding:16px 0px;
}

.card-title{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.card-description{
    width: 100%;
    text-wrap: wrap;
}

.card-price{
    font-size: 18px;
}


.card-list{
    margin: 0;
    padding: 0;
}

.card-list__check-btn{
    background-color: #F9F9F9; 
    border: none;
    padding: 16px 32px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 50px;
}

.sofa{
    width: 630px;
    height: 375px;
}
#registration{
    display: flex;
    height: 481px;
    background-color: #F9F9F9;    
}

#fon-registration{
    /* display: flex;
    position: relative;
    width: 50%;
    padding: 120px;
    width: 1273px;
    height: 364px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 52px 92px;
    
    padding: 68px 52px 52px 52px;
    background-color: #ffffff;
}

.registration-klub{
    /* display: flex;
    align-items: center; */
    font-size: 36px;
    
    
}
.registration-klub-center{
    padding: 0 200px 50px 200px;
    font-size: 16px;
    text-align: center;
}

.klub-top{
    margin-top: 0;
    color:#2A254B;
}
.klub-center{
    display: flex;
    color: #2A254B;
}



.input-style{
    width: 354px;
    height: 56px;
    outline: 0;
    background-color: #F9F9F9;
    border: 0;
    margin-top: 15px;
    color: rgb(73, 73, 73);
    padding: 10px;
    padding-left: 40px;
    box-sizing: border-box;
    margin-right:0;
    margin-left: 0;
}

.email-btn{
    width: 215px;
    height: 56px;
    background-color: #2A254B; 
    border: none;
    color: #cec0c0;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    
    margin: -6px;
    font-size: 16px;
}

#content-two{
    height: 603px;
    display: flex;
    position: relative;
    margin-bottom: 0;
}
#content-block-two{
    padding: 72px 84px;
    background-color: #ffffff;
}
.headline-top-two{
    text-align: left;
    font-size: 32px;
    color: #2A254B;
    margin-top: 0;
}
.headline-btm-two{
    background-color: #F9F9F9; 
    border: none;
    color: rgb(31, 29, 29);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: flex;
    margin-top: 148px;

    
}

.headline-bottom-two{
    
    color: #2A254B;
}

#content-img-two{
    width: 100%;
    height: 603px;
}

#footer__content{
    display: flex;
    flex-direction: column;
    background-color:#2A254B;
}

#footer__content__nav{
    width: 100%;
    height: 320px;
    margin: auto;
    display: flex;  
}

.footer__content__nav__column{
    margin: auto 0;
    margin-left: 82px;
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.footer__content__nav__link{
    margin-bottom: 18px;
    position: relative;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.email-btn-two{
    height: 56px;
    background-color: #FFFFFF; 
    border: none;
    color: #2A254B;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: -6px;
    font-size: 14px;
}
#content-fon-registration{    
    display: flex;
    margin-left: 82px;
    margin-top: 58px;

}
.registration-title{
    margin-bottom: 0;
    font-size: 16px;
    color: #FFFFFF;
}
.input-style-two{
    width: 265px;
    height: 56px;
    outline: 0;
    background-color: #4E4D93;
    border: 0;
    margin-top: 16px;
    color: #FFFFFF;
    padding: 10px;
    padding-left: 40px;
    box-sizing: border-box;
    margin-right:0;
    margin-left: 0;
}

.footer__content__trail{
    display: flex;
    color: #ffffff;
    background-color:#2A254B;
    border-top: 0.5px solid #4E4D93;
    font-size: 14px;
    margin-left: 82px;
    margin-right: 82px;
}

.footer__content__description{
    flex-grow: 2;
}

.footer__content__trail__contacts{
    display: flex;
    align-items: center;
}
.footer__content__trail__contacts__icon{
    padding-left: 24px;
    font-size: 24px;
}
.clicked-icon:hover{
    cursor: pointer;
}
.clicked-a:hover{
    cursor: pointer;
}
a::after{
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    color: var(--inverse-text-color);
    content: "";
    
}

.underline-animation {    
    display: inline-block;
    position: relative;
}
  
.underline-animation::after {    
    content: '';
    position: absolute;
    width: 95%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--background-color);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}
  
.underline-animation:hover::after {
    transform: scaleX(1);
}

.underline-animation-black {
    
    display: inline-block;
    position: relative;
}
  
.underline-animation-black::after {    
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--text-color);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}
  
.underline-animation-black:hover::after {
    transform: scaleX(1);
}